body, html {
    height: 100%;
}


body {
	  background-image: url("./network.jpg");
	   height: 100%; 
	   width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
	text-align: center;
	color: red;
}

h3 {
	background-color:#2e6da4;
	color: white;
}

.eventCode{
	color: #337ab7;
}

.submit {
	background: #2e6da4;
	color:white;
}
